/Intro to Computer Vison - Python/.idea/.gitignore
/Intro to Computer Vison - Python/.idea/dbnavigator.xml
/Intro to Computer Vison - Python/.idea/Intro to Computer Vison - Python.iml
/Intro to Computer Vison - Python/.idea/misc.xml
/Intro to Computer Vison - Python/.idea/modules.xml
/Intro to Computer Vison - Python/Pipfile
/Intro to Computer Vison - Python/Pipfile.lock
/Intro to Computer Vison - Python/.idea/inspectionProfiles/profiles_settings.xml
/Intro to Computer Vison - Python/.idea/inspectionProfiles/Project_Default.xml
/Intro to Computer Vison - Python/.idea/vcs.xml
